<main class="w-full h-full flex-col flex space-y-5">
  <!-- graph -->
  <section class="w-full h-3/4 bg-white rounded-lg p-5">
    <div class="w-full h-full">
      <ngx-charts-line-chart
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="data"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>
  </section>

  <!-- max, min, etc -->
  <section class="w-full h-1/4 bg-white rounded-lg">
    <form class="w-full h-full"></form>
  </section>
</main>
