<main class="w-full h-full flex-col flex justify-between space-y-5">
  <!-- Range -->
  <section class="w-full h-1/2 flex items-center space-x-5">
    <p class="w-1/2 text-lg">Set your range</p>

    <input
      class="w-1/4 h-full rounded-lg text-center border-4"
      placeholder="Lower limit"
      type="number"
      name=""
      id=""
    />
    <input
      class="w-1/4 h-full rounded-lg text-center border-4"
      placeholder="Upper limit"
      type="number"
      name=""
      id=""
    />
  </section>
  <!-- Solutions space  -->
  <section class="w-full h-1/2 flex items-center">
    <p class="w-1/2 text-lg">Set your space of solutions</p>
    <input
      class="w-1/2 h-full rounded-lg text-center border-4"
      placeholder="Number of solutions"
      type="number"
      name=""
      id=""
    />
  </section>
</main>
