<form
  class="w-full h-full flex-col flex justify-between space-y-5"
  (ngSubmit)="emitData()"
>
  <!-- Function and mode selector -->
  <section class="w-full h-1/4 flex space-x-5">
    <select class="w-2/3 h-full border-4 rounded-lg" name="" id="">
      <option value="">x<sup>2</sup></option>
      <option value="">Select a function</option>
      <option value="">Select a function</option>
    </select>
    <select class="w-1/3 h-full border-4 rounded-lg" name="" id=""></select>
  </section>

  <!-- Range (upper and lower limit) -->
  <section class="w-full h-1/4 flex items-center space-x-5">
    <span class="w-1/3">Set your range</span>
    <input
      class="w-1/3 h-full text-center border-4 rounded-lg"
      type="number"
      name="lowerLimit"
      id=""
    />
    <input
      class="w-1/3 h-full text-center border-4 rounded-lg"
      type="number"
      name="upperLimit"
      id=""
    />
  </section>

  <!-- Space of solutions -->
  <section class="w-full h-1/4 flex items-center space-x-2">
    <span class="w-1/3">Set your range</span>
    <input
      class="w-2/3 h-full text-center border-4 rounded-lg"
      type="number"
      name="spaceOfSolutions"
      id=""
    />
  </section>

  <!-- Submit button -->
  <section class="w-full h-1/4">
    <button
      class="w-full h-full bg-blue-400 rounded-lg text-white font-semibold hover:bg-blue-500 transition-all"
      type="submit"
    >
      Generate!
    </button>
  </section>
</form>
