<main class="w-full h-screen bg-neutral-900 flex items-center justify-center">
  <section class="w-[95%] h-[95%] flex space-x-5">
    <!-- Values and table -->
    <div class="w-1/3 h-full flex-col flex justify-between space-y-5">
      <!-- Values -->
      <section
        class="w-full h-1/3 bg-blue-200 border-4 border-blue-400 rounded-xl p-5"
      >
        <genetic-algorithm-set-values
          (onNewNumber)="onNewFormData($event)"
        ></genetic-algorithm-set-values>
      </section>

      <!-- Table -->
      <section
        class="w-full h-2/3 bg-yellow-200 border-4 border-yellow-400 rounded-xl p-5 overflow-y-auto"
      >
        <genetic-algorithm-table
          [randomNumbers]="randomNumbers"
        ></genetic-algorithm-table>
      </section>
    </div>

    <!-- Chart -->
    <div
      class="w-2/3 h-full bg-purple-300 border-4 border-purple-400 rounded-lg p-5"
    >
      <div class="w-full h-3/4 bg-slate-50 flex justify-center items-center">
        <div class="w-full p-10">
          <genetic-algorithm-line-chart></genetic-algorithm-line-chart>
        </div>
      </div>
    </div>
  </section>
</main>
